.image-hover-container {
    position: relative;
    display: inline-block;
}

.image-hover-container .static-image {
    display: block;
}

.image-hover-container .hover-image {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.image-hover-container:hover .static-image {
    display: none;
}

.image-hover-container:hover .hover-image {
    display: block;
}
