#image{
    background-image:url('/assets/images/test.jpeg');
    height:400px;
    max-width:400px;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    }
    #image:hover{
    background-image:url('/assets/gifs/squirtle-pokemon.gif');
    }
    