#image{
    background-image:url('/assets/images/me-3200.jpg');
    height:400px;
    max-width:400px;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    }
    #image:hover{
    background-image:url('/assets/gifs/me-squirtle.gif');
    }
    